<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Microsoft PowerPoint</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ppt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SLD8.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SLD8</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pptx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PPTX.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint presentation</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPTX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PPTX.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XML </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>thmx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>THMX.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Office theme</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>THMX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pptm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PPTM.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint macro-enabled presentation</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPTM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>SLD8.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SLDS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>SLDL.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint letter</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SLDL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ppt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>_sLD8.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint stationery</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sLD8</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TEXT.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint outline</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RTF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>sPOT.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sPOT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TEXT.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint outline</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ttro</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PPPA.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint add-in</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPPA</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>SLD8.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SLD3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint stationery</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sLD3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>sPOT.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint stationery</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>sPOT.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint stationery</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sTF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>sPOT.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint stationery</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>stro</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>HELP.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint help</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>HELP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>pref.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint preferences</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pref</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pps</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PPSS.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint 97 - 2004 slide show</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPSS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ppsx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PPSX.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint slide show</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPSX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ppsm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PPSM.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint macro-enabled slide show</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPSM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>potx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>POTX.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>POTX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>potm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>POTM.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint macro-enabled template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>POTM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ppot</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PPOT.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint 97 - 2004 Template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPOT</string>
				<string>POTX</string>
				<string>POTM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PPWZ.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint wizard</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPWZ</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>pref.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint toolbar</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TTBS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PPWZ.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint wizard</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPX9</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PPP9.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint wizard</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPZ9</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PPP9.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint add-in</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPP9</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PPPA.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint type library</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>OTLB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PPPA.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint bundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BNDL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>cgCG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>OFP9</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>OFZ9</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Microsoft PowerPoint</string>
	<key>CFBundleGetInfoString</key>
	<string>12.0.0 (071130), © 2007 Microsoft Corporation. All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>PPT3.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.microsoft.Powerpoint</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PowerPoint</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>12.0.0</string>
	<key>CFBundleSignature</key>
	<string>PPT3</string>
	<key>CFBundleVersion</key>
	<string>12.0.0</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>MicrosoftBuildNumber</key>
	<string>071130</string>
	<key>MicrosoftLocalizationLCID</key>
	<string>1033</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2007 Microsoft Corporation. All rights reserved.</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.data</string>
			<key>UTTypeDescription</key>
			<string>Microsoft Office theme</string>
			<key>UTTypeIconFile</key>
			<string>THMX.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.office.openxml.theme</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>THMX</string>
				<key>public.filename-extension</key>
				<string>thmx</string>
				<key>public.mime-type</key>
				<string>application/vnd.ms-officetheme</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.presentation</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft PowerPoint presentation</string>
			<key>UTTypeIconFile</key>
			<string>PPTX.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.powerpoint.openxml.presentation</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PPTX</string>
				<key>public.filename-extension</key>
				<string>pptx</string>
				<key>public.mime-type</key>
				<string>application/vnd.openxmlformats-officedocument.presentationml.presentation</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>com.microsoft.powerpoint.openxml.presentation</string>
			<key>UTTypeDescription</key>
			<string>Microsoft PowerPoint macro-enabled presentation</string>
			<key>UTTypeIconFile</key>
			<string>PPTM.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.powerpoint.openxml.presentation.macro-enabled</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PPTM</string>
				<key>public.filename-extension</key>
				<string>pptm</string>
				<key>public.mime-type</key>
				<string>application/vnd.ms-powerpoint.presentation.macroEnabled.12</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.presentation</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft PowerPoint slide show</string>
			<key>UTTypeIconFile</key>
			<string>PPSX.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.powerpoint.openxml.slideshow</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PPSX</string>
				<key>public.filename-extension</key>
				<string>ppsx</string>
				<key>public.mime-type</key>
				<string>application/vnd.openxmlformats-officedocument.presentationml.slideshow</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>com.microsoft.powerpoint.openxml.slideshow</string>
			<key>UTTypeDescription</key>
			<string>Microsoft PowerPoint macro-enabled slide show</string>
			<key>UTTypeIconFile</key>
			<string>PPSM.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.powerpoint.openxml.slideshow.macro-enabled</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PPSM</string>
				<key>public.filename-extension</key>
				<string>ppsm</string>
				<key>public.mime-type</key>
				<string>application/vnd.ms-powerpoint.slideshow.macroEnabled.12</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.data</string>
			<key>UTTypeDescription</key>
			<string>Microsoft PowerPoint template</string>
			<key>UTTypeIconFile</key>
			<string>POTX.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.powerpoint.openxml.template</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>POTX</string>
				<key>public.filename-extension</key>
				<string>potx</string>
				<key>public.mime-type</key>
				<string>application/vnd.openxmlformats-officedocument.presentationml.template</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>com.microsoft.powerpoint.openxml.template</string>
			<key>UTTypeDescription</key>
			<string>Microsoft PowerPoint macro-enabled template</string>
			<key>UTTypeIconFile</key>
			<string>POTM.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.powerpoint.openxml.template.macro-enabled</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>POTM</string>
				<key>public.filename-extension</key>
				<string>potm</string>
				<key>public.mime-type</key>
				<string>application/vnd.ms-powerpoint.template.macroEnabled.12</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.data</string>
			<key>UTTypeDescription</key>
			<string>Microsoft PowerPoint 97 - 2004 template</string>
			<key>UTTypeIconFile</key>
			<string>PPOT.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.powerpoint.pot</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PPOT</string>
				<key>public.filename-extension</key>
				<string>pot</string>
				<key>public.mime-type</key>
				<string>application/vnd.ms-powerpoint</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.presentation</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft PowerPoint 97 - 2004 slide show</string>
			<key>UTTypeIconFile</key>
			<string>PPSS.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.powerpoint.pps</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PPSS</string>
				<key>public.filename-extension</key>
				<string>pps</string>
				<key>public.mime-type</key>
				<string>application/vnd.ms-powerpoint</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.presentation</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft PowerPoint 97 - 2004 presentation</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.powerpoint.ppt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>SLD8</string>
				</array>
				<key>public.filename-extension</key>
				<string>ppt</string>
				<key>public.mime-type</key>
				<string>application/vnd.ms-powerpoint</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>