<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oo3</string>
				<string>xmloutline</string>
				<string>xml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>OO3Document.icns</string>
			<key>CFBundleTypeName</key>
			<string>OmniOutliner 3</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
			<key>NSExportableAs</key>
			<array>
				<string>OOOutlineDocumentType</string>
				<string>Keynote</string>
				<string>OONeatoStringPboardType</string>
				<string>NSStringPboardType</string>
				<string>OOMORETextDocumentType</string>
				<string>OORTFPboardType</string>
				<string>OORTFDPboardType</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oo3template</string>
				<string>ootemplate</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>OO3Template.icns</string>
			<key>CFBundleTypeName</key>
			<string>OmniOutliner 3 Template</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ooutline</string>
				<string>oo2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ooutline.icns</string>
			<key>CFBundleTypeName</key>
			<string>OOOutlineDocumentType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>OutL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>TEXT</string>
				<string>TXT</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSStringPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>concur</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ConcurrenceDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>OOConcurrenceDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>more</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MOREDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>OOMOREDocumentType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MOR2</string>
				<string>MOR1</string>
				<string>MOR3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OORTFPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtfd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OORTFDPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OONeatoStringPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>plist</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OOPlistDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sample</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OOSampleDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MOREDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>OOMORETextDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>export</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OOiTunesExportDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>OOActaDocumentType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>otln</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>strings</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OOStringsDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>opml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>OPMLDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>OOOPMLDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>

		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>key</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Keynote</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>OODocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>OmniOutliner</string>
	<key>CFBundleGetInfoString</key>
	<string>OmniOutliner 3.6.2, version 143.19, Copyright 2000-2006 The Omni Group</string>
	<key>CFBundleHelpBookFolder</key>
	<string>OmniOutliner Help</string>
	<key>CFBundleHelpBookName</key>
	<string>OmniOutliner Help</string>
	<key>CFBundleIconFile</key>
	<string>OmniOutliner.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.omnigroup.OmniOutliner3</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OmniOutliner</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.6.2</string>
	<key>CFBundleSignature</key>
	<string>OOut</string>
	<key>CFBundleVersion</key>
	<string>143.19</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.3.9</string>
	<key>NSAppleScriptEnabled</key>
	<string>Yes</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2000-2006 The Omni Group</string>
	<key>NSMainNibFile</key>
	<string>OmniOutliner</string>
	<key>NSPrincipalClass</key>
	<string>OOApplication</string>
	<key>OFBundleRegistryConfig</key>
	<dict>
		<key>AdditionalRegistrations</key>
		<array>
			<string>~/Library/OmniOutliner.defaults</string>
			<string>/Library/OmniOutliner.defaults</string>
			<string>/Network/Library/OmniOutliner.defaults</string>
			<string>/System/Library/OmniOutliner.defaults</string>
		</array>
		<key>BundleExtensions</key>
		<array>
			<string>omni</string>
			<string>plugin</string>
			<string>ooxsl</string>
		</array>
		<key>LogBundleRegistration</key>
		<false/>
		<key>SearchPaths</key>
		<array>
			<string>~/Library/Application Support/OmniOutliner 3/Plug-Ins</string>
			<string>/Library/Application Support/OmniOutliner 3/Plug-Ins</string>
			<string>/Network/Library/Application Support/OmniOutliner 3/Plug-Ins</string>
			<string>/System/Library/Application Support/OmniOutliner 3/Plug-Ins</string>
			<string>AppWrapper</string>
		</array>
	</dict>
	<key>OFControllerClass</key>
	<string>OOController</string>
	<key>OFRegistrations</key>
	<dict>
		<key>NSUserDefaults</key>
		<dict>
			<key>defaultsDictionary</key>
			<dict>
				<key>AudioCaptureCompressionSettings</key>
				<data>
				</data>
				<key>Inspector</key>
				<dict>
					<key>OOItemStyleInspector</key>
					<true/>
					<key>OSAppearanceStyleInspector</key>
					<true/>
				</dict>
				<key>OIColorInspectorShowsAlpha</key>
				<true/>
				<key>OOAudioCaptureTemporaryDirectory</key>
				<string>~/Desktop</string>
				<key>OOAudioCapturerInputPowerScale</key>
				<integer>1</integer>
				<key>OOAudioInputDefaultDeviceUID</key>
				<string/>
				<key>OOAutosaveSeconds</key>
				<integer>300</integer>
				<key>OOBaggageFilenames</key>
				<array>
					<string>CVS</string>
					<string>.svn</string>
				</array>
				<key>OODefaultClippingFileName</key>
				<string/>
				<key>OODefaultDocumentTemplate</key>
				<string/>
				<key>OODefaultStringEncoding</key>
				<string>iana UTF-8</string>
				<key>OODocumentTemplateSearchPaths</key>
				<array>
					<string>~/Documents/OmniOutliner Templates</string>
				</array>
				<key>OOEscapeShouldEndEditing</key>
				<true/>
				<key>OOMOREStringEncoding</key>
				<string>UTF-8</string>
				<key>OOMultipleColumnTabShouldIndent</key>
				<false/>
				<key>OONewOutlineOnLaunch</key>
				<true/>
				<key>OOOPMLStringEncoding</key>
				<string>UTF-8</string>
				<key>OOOutlineViewShouldAnimate</key>
				<true/>
				<key>OOOutlineViewShouldUseLiveResizing</key>
				<true/>
				<key>OOPTECheckedItemString</key>
				<string>[+]</string>
				<key>OOPTECollapsedChildrenHandleString</key>
				<string>*</string>
				<key>OOPTEExpandedChildrenHandleString</key>
				<string>-</string>
				<key>OOPTEIndeterminateItemString</key>
				<string>[-]</string>
				<key>OOPTENoChildrenHandleString</key>
				<string>-</string>
				<key>OOPTESpacesBetweenColumns</key>
				<integer>2</integer>
				<key>OOPTESpacesPerLevel</key>
				<integer>4</integer>
				<key>OOPTEUncheckedItemString</key>
				<string>[ ]</string>
				<key>OOPlainTextStringEncoding</key>
				<string>UTF-8</string>
				<key>OORTFDistanceBetweenColumns</key>
				<integer>9</integer>
				<key>OORTFIndentWidthPerLevel</key>
				<integer>18</integer>
				<key>OOReOpenOutlinesOnLaunch</key>
				<false/>
				<key>OOReturnInRowInsertsNewline</key>
				<false/>
				<key>OOReturnShouldPossiblyIndent</key>
				<true/>
				<key>OOReturnShouldSplit</key>
				<false/>
				<key>OOSaveDirectory</key>
				<string/>
				<key>OOSingleColumnTabShouldIndent</key>
				<true/>
				<key>OOSplitClippingsIntoItems</key>
				<true/>
				<key>OOSplitWhenCreatingItem</key>
				<false/>
				<key>OOStandardDateFormats</key>
				<array>
					<string>long-date-format</string>
					<string>short-date-format</string>
					<string/>
					<string>long-date-format.static</string>
					<string>short-date-format.static</string>
					<string>%Y-%m-%d</string>
					<string>%Y-%m-%d %H:%M:%S %z</string>
					<string>%B %e, %Y</string>
					<string>%B %d</string>
					<string>%d %b %Y</string>
				</array>
				<key>OOStandardNumberFormats</key>
				<array>
					<string>#,##0.00;0.00;-#,##0.00</string>
					<string>0.00</string>
					<string>0</string>
					<string>0%</string>
					<string>0.00%</string>
					<string>currency-format</string>
				</array>
				<key>OOStringsStringEncoding</key>
				<string>UTF-8</string>


				<key>OOTabAlwaysIndents</key>
				<true/>
				<key>OOTabShouldNavigateCells</key>
				<false/>
				<key>OOTextAttachmentURLifyEnabled</key>
				<true/>
			</dict>
		</dict>
		<key>OAPreferenceController</key>
		<dict>

			<key>OOGeneralPreferences</key>
			<dict>
				<key>category</key>
				<string>Basic</string>
				<key>defaultsArray</key>
				<array>
					<string>OONewOutlineOnLaunch</string>
					<string>OOReOpenOutlinesOnLaunch</string>
					<string>OOAutosaveSeconds</string>
					<string>OOTextAttachmentURLifyEnabled</string>
				</array>
				<key>helpURL</key>
				<string>GeneralPreferences.html</string>
				<key>icon</key>
				<string>GeneralPreferences</string>
				<key>identifier</key>
				<string>General</string>
				<key>nib</key>
				<string>GeneralPreferences</string>
				<key>ordering</key>
				<integer>10</integer>
				<key>shortTitle</key>
				<string>General [SHORT]</string>
				<key>title</key>
				<string>General [LONG]</string>
			</dict>
			<key>OOKeyboardPreferences</key>
			<dict>
				<key>category</key>
				<string>Basic</string>
				<key>defaultsArray</key>
				<array>
					<string>OOTabShouldNavigateCells</string>
					<string>OOReturnInRowInsertsNewline</string>
					<string>OOSplitWhenCreatingItem</string>
					<string>OOReturnShouldPossiblyIndent</string>
					<string>OSNamedStyleListKeyBinding</string>
				</array>
				<key>helpURL</key>
				<string>KeyboardPreferences.html</string>
				<key>icon</key>
				<string>Keyboard</string>
				<key>identifier</key>
				<string>Keyboard</string>
				<key>nib</key>
				<string>KeyboardPreferences</string>
				<key>ordering</key>
				<integer>15</integer>
				<key>shortTitle</key>
				<string>Keyboard [SHORT]</string>
				<key>title</key>
				<string>Keyboard [LONG]</string>
			</dict>
			<key>OOPlainTextExportPreferences</key>
			<dict>
				<key>category</key>
				<string>Basic</string>
				<key>defaultsArray</key>
				<array>
					<string>OOPTENoChildrenHandleString</string>
					<string>OOPTEExpandedChildrenHandleString</string>
					<string>OOPTECollapsedChildrenHandleString</string>
					<string>OOPTECheckedItemString</string>
					<string>OOPTEUncheckedItemString</string>
					<string>OOPTEIndeterminateItemString</string>
					<string>OOPTESpacesPerLevel</string>
					<string>OOPTESpacesBetweenColumns</string>
					<string>OODefaultStringEncoding</string>
				</array>
				<key>helpURL</key>
				<string>PlainTextExportPreferences.html</string>
				<key>icon</key>
				<string>PlainText</string>
				<key>identifier</key>
				<string>Text</string>
				<key>nib</key>
				<string>PlainTextExportPreferences</string>
				<key>ordering</key>
				<integer>20</integer>
				<key>shortTitle</key>
				<string>Text [SHORT]</string>
				<key>title</key>
				<string>Text [LONG]</string>
			</dict>
			<key>OORTFExportPreferences</key>
			<dict>
				<key>category</key>
				<string>Basic</string>
				<key>defaultsArray</key>
				<array>
					<string>OORTFHandleWidth</string>
					<string>OORTFCheckboxWidth</string>
					<string>OORTFIndentWidthPerLevel</string>
					<string>OORTFDistanceBetweenColumns</string>
					<string>OORTFNoChildrenHandleString</string>
					<string>OORTFCollapsedChildrenHandleString</string>
					<string>OORTFExpandedChildrenHandleString</string>
					<string>OORTFCheckedItemString</string>
					<string>OORTFUncheckedItemString</string>
					<string>OORTFIndeterminateItemString</string>
				</array>
				<key>helpURL</key>
				<string>RTFExportPreferences.html</string>
				<key>icon</key>
				<string>RichText</string>
				<key>identifier</key>
				<string>RTF</string>
				<key>nib</key>
				<string>RTFExportPreferences</string>
				<key>ordering</key>
				<integer>25</integer>
				<key>shortTitle</key>
				<string>RTF [SHORT]</string>
				<key>title</key>
				<string>RTF [LONG]</string>
			</dict>



		</dict>
	</dict>
	<key>OIInspectorWidth</key>
	<real>256</real>
	<key>OIInspectors</key>
	<array>
		<dict>
			<key>bundle</key>
			<string>com.omnigroup.framework.OmniStyle</string>
			<key>class</key>
			<string>OITabbedInspector</string>
			<key>identifier</key>
			<string>com.omnigroup.framework.OmniStyle.inspector.appearance</string>
			<key>image</key>
			<string>OSAppearanceStyleInspector</string>
			<key>shortcut</key>
			<dict>
				<key>flags</key>
				<string>command</string>
				<key>key</key>
				<string>1</string>
			</dict>
			<key>tabs</key>
			<array>
				<dict>
					<key>image</key>
					<string>OSInspectorSection_Color</string>
					<key>inspector</key>
					<dict>
						<key>class</key>
						<string>OSStyleColorInspector</string>
						<key>identifier</key>
						<string>com.omnigroup.framework.OmniStyle.inspector.appearance.color</string>
						<key>visible</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string>OSInspectorSection_Font</string>
					<key>inspector</key>
					<dict>
						<key>class</key>
						<string>OSStyleFontInspector</string>
						<key>identifier</key>
						<string>com.omnigroup.framework.OmniStyle.inspector.appearance.font</string>
						<key>visible</key>
						<false/>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string>OSInspectorSection_Underline</string>
					<key>inspector</key>
					<dict>
						<key>class</key>
						<string>OSStyleUnderlineAndStrikethroughInspector</string>
						<key>identifier</key>
						<string>com.omnigroup.framework.OmniStyle.inspector.appearance.underline</string>
						<key>visible</key>
						<false/>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string>OSInspectorSection_Border</string>
					<key>inspector</key>
					<dict>
						<key>class</key>
						<string>OSStyleStrokeInspector</string>
						<key>identifier</key>
						<string>com.omnigroup.framework.OmniStyle.inspector.appearance.stroke</string>
						<key>visible</key>
						<false/>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string>OSInspectorSection_Shadow</string>
					<key>inspector</key>
					<dict>
						<key>class</key>
						<string>OSStyleShadowInspector</string>
						<key>identifier</key>
						<string>com.omnigroup.framework.OmniStyle.inspector.appearance.shadow</string>
						<key>visible</key>
						<false/>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string>OSInspectorSection_Advanced</string>
					<key>inspector</key>
					<dict>
						<key>class</key>
						<string>OSStyleAdvancedTextLayoutInspector</string>
						<key>identifier</key>
						<string>com.omnigroup.framework.OmniStyle.inspector.appearance.advanced</string>
						<key>visible</key>
						<false/>
					</dict>
				</dict>
			</array>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>bundle</key>
			<string>com.omnigroup.OmniOutliner3</string>
			<key>class</key>
			<string>OITabbedInspector</string>
			<key>identifier</key>
			<string>com.omnigroup.omnioutliner.inspector.item</string>
			<key>image</key>
			<string>OOItemStyleInspector</string>
			<key>shortcut</key>
			<dict>
				<key>flags</key>
				<string>command</string>
				<key>key</key>
				<string>2</string>
			</dict>
			<key>tabs</key>
			<array>
				<dict>
					<key>image</key>
					<string>OSInspectorSection_Numbering</string>
					<key>inspector</key>
					<dict>
						<key>class</key>
						<string>OOItemStyleHeadingInspector</string>
						<key>identifier</key>
						<string>com.omnigroup.omnioutliner.inspector.item.numbering</string>
						<key>visible</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string>OSInspectorSection_Spacing</string>
					<key>inspector</key>
					<dict>
						<key>class</key>
						<string>OOItemStyleSpacingInspector</string>
						<key>identifier</key>
						<string>com.omnigroup.omnioutliner.inspector.item.spacing</string>
						<key>visible</key>
						<false/>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string>OSInspectorSection_Advanced</string>
					<key>inspector</key>
					<dict>
						<key>class</key>
						<string>OOItemStyleAdvancedInspector</string>
						<key>identifier</key>
						<string>com.omnigroup.omnioutliner.inspector.item.advanced</string>
						<key>visible</key>
						<false/>
					</dict>
				</dict>
			</array>
			<key>visible</key>
			<false/>
		</dict>
		<dict>
			<key>class</key>
			<string>OOColumnTypeInspector</string>
			<key>identifier</key>
			<string>com.omnigroup.omnioutliner.inspector.column</string>
			<key>image</key>
			<string>OOColumnTypeInspector</string>
			<key>shortcut</key>
			<dict>
				<key>flags</key>
				<string>command</string>
				<key>key</key>
				<string>3</string>
			</dict>
			<key>visible</key>
			<false/>
		</dict>
		<dict>
			<key>bundle</key>
			<string>com.omnigroup.OmniOutliner3</string>
			<key>class</key>
			<string>OITabbedInspector</string>
			<key>identifier</key>
			<string>com.omnigroup.omnioutliner.inspector.document</string>
			<key>image</key>
			<string>OOOutlineInspector</string>
			<key>shortcut</key>
			<dict>
				<key>flags</key>
				<string>command</string>
				<key>key</key>
				<string>4</string>
			</dict>
			<key>tabs</key>
			<array>
				<dict>
					<key>image</key>
					<string>OODocumentDisplayInspector</string>
					<key>inspector</key>
					<dict>
						<key>class</key>
						<string>OODocumentDisplayInspector</string>
						<key>identifier</key>
						<string>com.omnigroup.omnioutliner.inspector.document.display</string>
						<key>visible</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string>OODocumentMetadataInspector</string>
					<key>inspector</key>
					<dict>
						<key>class</key>
						<string>OODocumentMetadataInspector</string>
						<key>identifier</key>
						<string>com.omnigroup.omnioutliner.inspector.document.metadata</string>
						<key>minimumOSVersion</key>
						<string>10.4</string>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string>OSInspectorSection_Advanced</string>
					<key>inspector</key>
					<dict>
						<key>class</key>
						<string>OODocumentAdvancedInspector</string>
						<key>identifier</key>
						<string>com.omnigroup.omnioutliner.inspector.document.advanced</string>
					</dict>
				</dict>
			</array>
			<key>visible</key>
			<false/>
		</dict>
		<dict>
			<key>class</key>
			<string>OSStyleInspector</string>
			<key>identifier</key>
			<string>com.omnigroup.framework.OmniStyle.inspector.style</string>
			<key>image</key>
			<string>OSStyleInspector</string>
			<key>shortcut</key>
			<dict>
				<key>flags</key>
				<string>command</string>
				<key>key</key>
				<string>5</string>
			</dict>
			<key>visible</key>
			<false/>
		</dict>
	</array>
	<key>OSUSoftwareUpdateAtLaunch</key>
	<true/>
	<key>OSUSoftwareUpdateTrack</key>
	<string/>
	<key>OZHelpURL</key>
	<string>SoftwareLicenses.html</string>
	<key>UTExportedTypeDeclarations</key>
	<array>

		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner 3 document</string>
			<key>UTTypeIconName</key>
			<string>OO3Doc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.oo3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>OutL</string>
				<key>public.filename-extension</key>
				<string>oo3</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner 3 document</string>
			<key>UTTypeIconName</key>
			<string>OO3Doc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.oo3-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>OutL</string>
				<key>public.filename-extension</key>
				<string>oo3</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.omnigroup.omnioutliner.oo3</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner 3 template</string>
			<key>UTTypeIconName</key>
			<string>OOTemplate.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.oo3template</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>oo3template</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.omnigroup.omnioutliner.oo3-package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner 3 template</string>
			<key>UTTypeIconName</key>
			<string>OOTemplate.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.oo3template-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>oo3template</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner 2 document</string>
			<key>UTTypeIconName</key>
			<string>OO2Doc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.ooutline</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>outline</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>generic applescript reference</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.applescript.object</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.omnigroup.applescript.object</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner row</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.item-reference</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.omnigroup.applescript.object</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OmniOutliner document</string>
			<key>UTTypeIdentifier</key>
			<string>com.omnigroup.omnioutliner.document-reference</string>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OPML document</string>
			<key>UTTypeIconName</key>
			<string>OPML.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.opml.opml</string>
			<key>UTTypeReferenceURL</key>
			<string>http://opml.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>opml</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>