.main-page
  width 100%
  height 100%
  background linear-gradient(to bottom, #222426 0%,#151718 50%,#08080b 100%)

  #header
    #my-apps-link.carousel-link.current
      .label My Apps
      .divot

    #downloads-link.carousel-link
      .label Downloads
      .icon
      .jewel
      .divot

  #downloads
  #my-apps
  #uninstalled

  .footer
    #uninstalled-link.carousel-link
      .label Trash
      .icon
      .divot.up
