#airspace-logo-holder
  #airspace-logo

#my-apps

.footer.initial
  #download-all
    .icon
    .label

  #uninstalled-link.carousel-link.empty
    span.icon
    span.label
      = trash_label
      span.trashed-apps
        | (
        span.number 0
        | )
    .divot.up
