#airspace-logo-holder
  #airspace-logo

#my-apps

.footer.initial
  #download-all.footer-link
    i.icon-download
    span.label
      | Download All

  #cancel-all.footer-link
    i.icon-remove-circle
    span.label
      | Cancel All

  #trash.footer-link.carousel-link.empty
    i.icon-trash
    span.label
      | Trash
      span.trashed-apps
        | (
        span.number 0
        | )
