#title-bar
  #airspace-logo

  #search-form
    input#search
    i.icon-search

#my-apps

.footer.initial
  #download-all.footer-link.download-control
    i.icon-download
    span.label
      = download_label

  #upgrade-all.footer-link.download-control
    i.icon-upload
    span.label
      = upgrade_label

  #cancel-all.footer-link.download-control
    i.icon-remove-circle
    span.label
      = cancel_label

  #trash.footer-link.carousel-link.empty
    i.icon-trash
    span.label
      = trash_label
      span.trashed-apps
        | (
        span.number 0
        | )
