#title-bar
  #airspace-logo

  a#login-status.page-utility.btn.btn-primary.sign-to-app-store
    = signup_label
  #loading-icon.page-utility
    img(src="static/images/spinner.gif")
  #search-form.page-utility
    i.icon-remove
    input#search
    i.icon-search

  #notification-pane.page-utility

#my-apps

.footer.initial
  #download-all.footer-link.download-control
    i.icon-download
    span.label
      = download_label

  #update-all.footer-link.download-control
    i.icon-upload
    span.label
      = update_label

  #cancel-all.footer-link.download-control
    i.icon-remove-circle
    span.label
      = cancel_label

  #trash.footer-link.carousel-link.empty
    i.icon-trash
    span.label
      = trash_label
      span.trashed-apps
        | (
        span.number 0
        | )

  #get-support.footer-link.carousel-link
    i.icon-user
    span.label
      = get_support_label
