#header.initial
  #my-apps-link.carousel-link.current
    .label Home
    .divot

  #downloads-link.carousel-link
    .label Downloads
    .icon
    .jewel
    .divot

#downloads
#my-apps
#uninstalled

.footer.initial
  #uninstalled-link.carousel-link
    .label Trash
    .icon
    .divot.up
