.main-page

  #header
    #my-apps-link.carousel-link.current
      .label My Apps
      .divot

    #downloads-link.carousel-link
      .label Downloads
      .icon
      .jewel
      .divot

  #downloads
  #my-apps
  #uninstalled

  .footer
    #uninstalled-link.carousel-link
      .label Trash
      .icon
      .divot.up
