.main-page
  position absolute
  z-index 0
  width 100%
  height 100%

  &.animating
    .empty-message
      display none !important

  #title-bar
    height 28px
    margin-top 40px
    position absolute
    width 100%

    #airspace-logo
      background-image url(static/images/airspace-logo.png)
      height 28px
      width 407px
      margin 0 auto

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image url(static/images/airspace-logo@2x.png)
        background-size 407px 28px
      }

    #search-form
      color #4a4f59
      font-size 21px
      padding-right 28px
      position absolute
      right 0
      top 0

      &.active
        color #a1abc9

        input#search, input#search:focus
          border-bottom 1px solid rgba(161, 171, 201, 1)
          width 200px

        .icon-search
          color white

      .icon-search:hover
        color #a1abc9

      input#search
        background none
        border none
        color white
        outline none
        text-align right
        border-bottom 1px solid rgba(161, 171, 201, 0)
        margin-right 10px
        width 0px
        -webkit-transition 0.5s

  .page-container
    width 100%
    height 100%
    //font-family Arial
    .airspace-logo
      background url(static/images/airspace-logo.png)
      width 275px
      height 30px
      margin 30px auto

  .footer-link
    bottom 0
    color #4a4f59
    cursor pointer
    font-size 24px
    height 46px
    padding 0 28px
    position absolute

    .label
      float right
      padding 0 8px

    i
      font-size 30px
      height 33px
      width 27px
      float right

    &.download-control
      left 0
      padding-right 0
      right auto

      .label
        float left

      i
        float left

    &#trash
      left auto
      padding-left 0
      right 0

      .trashed-apps
        display none

    &:hover
      color #a1abc9

    &.empty
      cursor default

      &:hover
        color #4a4f59

    &.highlight
      color #a1abc9


  .app-list
    list-style none

    li
      float left

  .footer
    background #070709
    border-top 1px solid #353639
    height 60px
    position absolute
    width 100%

    &.initial
      bottom -60px
    &.loaded
      bottom 0
