#header
  #my-apps-link.carousel-link.current
    .label My Apps
    .divot

  #upgrades-link.carousel-link
    .label Downloads
    .icon
    .jewel
    .divot

#upgrades
#my-apps
#uninstalled

.footer
  #uninstalled-link.carousel-link
    .label Trash
    .icon
    .divot.up
