#my-apps-link.carousel-link.current My Apps
#upgrades-link.carousel-link Downloads

#upgrades.carousel
#my-apps.carousel.active
#uninstalled.carousel

#carousel-indicator * * * *
#uninstalled-link.carousel-link Trash
