img.icon
  display block
  height 70px
  margin 0 auto
  width 70px
.disk-full-title
  font-weight bolder
  text-align center

.required-space, .available-space
  margin-top 10px

.title
  font-weight bolder

.available-space .value
  color red

#close-popup-button
  display block
  margin 30px auto 0px
  width: 150px
  line-height 27px
