.slide
  position absolute

  .slide-blocker
    cursor pointer
    display none
    height 100%
    position absolute
    width 100%
    z-index 9999

  &.disabled
    .slide-blocker
      display block
