@import "../modal/modal"

.lab-modal .modal-wrapper .modal
  padding 25px 50px
  width 530px

.lab-modal .modal-wrapper .modal .header
  margin-top 20px
  text-align center
  border-bottom none
  height auto

  img.labs-logo
    width 75px
    height 75px

  .description
    text-align left

  .intro
    margin-top 20px
    margin-bottom 15px
    color lightGray

  .instructions
    padding-bottom 20px
    border-bottom 1px solid $borderColor
    margin-bottom 20px
    color lightGray

.lab-modal .modal-wrapper .modal .content
  height 150px

form
  width 400px
  margin 0 auto

  .checkbox
    padding 5px 0
    margin-bottom 5px
    vertical-align middle

    input
      margin-right 5px

.saved
  float right
  font-size 21px
  padding 12px 21px 16px
  display none

.save
  float right
  background-color #60aee5 /* layer fill content */
  background-image -webkit-linear-gradient(bottom, #478cc4 0%, #6cbaeb 100%) /* gradient overlay */
  background-image linear-gradient(bottom, #478cc4 0%, #6cbaeb 100%) /* gradient overlay */
  margin-right 10px
  padding-left 40px
  padding-right 40px
