img#icon(src="static/images/airspace-icon.png")

#intro
  h1 leap motion app home
  h2= subheader_label

  #graphics
    img.laptop(src="static/images/first-run/activate-laptop.png")
    img.keyboard(src="static/images/first-run/activate-keyboard.png")

  #actions
    #signup.button= signup_label
    #signin.subbutton= signin_label
