img#icon(src="static/images/airspace-icon.png")

#intro
  h1 airspace
  h2= subheader_label

  #graphics
    img.activate-pongo(src="static/images/first-run/activate-pongo.png")
    img.activate-hops(src="static/images/first-run/activate-hops.png")

  #actions
    #signup.button= signup_label
    #signin.subbutton= signin_label
