.first-run-view
  color gray
  margin -200px auto 0
  overflow hidden
  position relative
  text-align center
  top 50%
  width 786px

#icon
  width 100px

#intro

  h1
    color white
    font-family "itc_avantgarde"
    text-transform uppercase
    font-size 40px
    height 40px
    padding-left 10px
    letter-spacing 10px
    line-height 40px
    margin-bottom 10px
    margin-top 20px
    text-shadow 0 0 3px white

  h2
    font-weight normal
    font-size 21px
    line-height 21px
    margin 0 auto 35px

  a
    color #9ac948
    text-decoration none

  #graphics

    img
      border-radius 6px
      border 1px solid #444
      display none
      width 304px
      height 234px

  #actions
    position relative
    margin 28px auto 0
    width 300px

    .button
      background-clip padding-box // prevents bg color from leaking outside the border
      background-image -webkit-linear-gradient(top, #bcdd41 0%, #aad029 100%)
      border-radius 6px
      color white
      cursor pointer
      height 48px
      font-size 24px
      padding 13px 0
      line-height 46px
      margin 16px auto 0
      text-align center
      text-shadow 0 -1px 0 rgba(1,1,1,.2)
      width 100%

      &:hover
        background-image none
        background-color rgb(173, 205, 116)

    .subbutton
      margin-top 15px
      color #9ac948
      cursor pointer
      font-size 18px
      font-family "myriad-pro"

      &:hover
        text-decoration underline

    &.disabled

      .button, .button:hover
        cursor default
        background-image -webkit-linear-gradient(top, desaturate(lighten(#bcdd41, 20%), 20%) 0%, desaturate(lighten(#aad029, 20%), 20%) 100%)
        color rgba(255, 255, 255, 0.9)

      .subbutton, .subbutton:hover
        cursor default
        color desaturate(lighten(#9ac948, 20%), 20%)
        text-decoration none

#footer
  bottom 30px
  left 0
  position fixed
  right 0

