
img#icon(src="static/images/airspace-icon.png")

#intro
    h1 airspace
    h2= subheader_label

    #actions
      #signup.button= signup_label
      #signin.subbutton= signin_label

#auth

#footer= poweredby_label
