.first-run-background
iframe.oauth.background(nwdisable, nwfaketop)
.waiting.before
  .leap-logo-box
    .leap-logo
  .spinner-holder
  .message.before
  .message.after
  .message.logout
.no-internet.background
  h2
  .icon
  .instruction
