.authorization
  background -webkit-radial-gradient(center center, circle cover, #f8faf8, #e8eae8)
  height 100%
  width 100%
  position absolute
  top 0
  left 0
  z-index 250

  &.first-run
    background none
    height auto
    width auto
    position relative
    top auto
    left auto

  iframe.oauth, .no-internet
    border none
    display none
    height 498px
    margin 0
    overflow hidden
    width 422px

  .waiting
    height 300px
    width 412px
    margin 0 auto

    .spinner-holder
      height 1px
      position relative
      margin 50px 0 30px

    .message
      color rgb(153,153,153)
      display none
      font-size 20px
      font-style italic
      text-align center

    &.before
      .message.before
        display block

    &.after
      .message.after
        display block

    &.logout
      .message.logout
        display block

  .no-internet
    color rgb(153,153,153)
    display none
    padding 20px
    text-align center
    margin 0 auto

    h2
      font-size 32px
      font-weight normal
      margin 10px 20px 0
      padding-bottom 10px

    .icon
      background url(static/images/wifi-icon.png)
      height 82px
      margin 30px auto
      width 82px

    .instruction
      font-size 20px
      margin 0 50px
