.authorization
  background none
  width 786px
  top 50%
  margin -340px auto 0
  text-align center
  position relative
  overflow hidden

  #icon
    display block
    margin 0 auto

  iframe.oauth, .no-internet
    border none
    display none
    height 498px
    margin 0
    overflow hidden
    width 100%

  .waiting
    height 300px
    width 412px
    margin 0 auto

    .spinner-holder
      height 1px
      position relative
      margin 50px 0 30px

    .message
      color rgb(153,153,153)
      display none
      font-size 20px
      font-style italic
      text-align center

    &.before
      .message.before
        display block

    &.after
      .message.after
        display block

    &.logout
      .message.logout
        display block

  .no-internet
    color rgb(153,153,153)
    display none
    padding 20px
    text-align center
    margin 0 auto

    h2
      font-size 32px
      font-weight normal
      margin 10px 20px 0
      padding-bottom 10px

    .icon
      background url(static/images/wifi-icon.png)
      height 82px
      margin 30px auto
      width 82px

    .instruction
      font-size 20px
      margin 0 50px
