.first-run-background
iframe.oauth.background(nwdisable, nwfaketop)
.waiting.before
  .message.before Connecting to server...
  .message.after Logging you in...
.no-internet.background
  h2 No internet connection
  .icon
  .instruction Please ensure your connection is working properly
