.first-run-background
iframe.oauth.background(nwdisable, nwfaketop)
.waiting.before
  .leap-logo-box
    .leap-logo
  .spinner-holder
  .message.before Connecting to authentication server...
  .message.after Preparing for launch...
  .message.logout Signing you out...
.no-internet.background
  h2 No internet connection
  .icon
  .instruction Please ensure your connection is working properly
