.first-run-background
iframe.oauth.background(nwdisable, nwfaketop)
.waiting.before
  .message.before Connecting to sign in server...
  .message.after Signing you in...
  .message.logout Signing you out...
.no-internet.background
  h2 No internet connection
  .icon
  .instruction Please ensure your connection is working properly
