<?xml version="1.0" encoding="UTF-8"?>

<CATALOG>

                 <AUTHPAIR>

                                  <AUTHID>@AUTHID</AUTHID> <TOKEN>@TOKEN</TOKEN>

                 </AUTHPAIR>



</CATALOG>

