.instructions
  margin-bottom 30px

form
  width 400px
  margin 0 auto

  .checkbox
    padding 5px 0
    margin-bottom 5px
    vertical-align middle

    input
      margin-right 5px

input[type="submit"]
  float right
