.instructions
  margin-bottom 30px

form
  width 400px
  margin 0 auto

  .checkbox
    padding 5px 0
    margin-bottom 5px
    vertical-align middle

    input
      margin-right 5px

input[type="submit"]
  float right
  background-image linear-gradient(top, rgba(207, 211, 214, 0.32) 0%, rgba(131, 134, 138, 0.23) 100%)
  background-image -webkit-linear-gradient(top, rgba(207, 211, 214, 0.32) 0%, rgba(131, 134, 138, 0.23) 100%)
  padding 12px 21px 16px
  border-radius 7px
  border 0
  color #ededed
  cursor pointer
  font-size 21px
  font-weight bold
  text-shadow 0 -1px 0 rgba(0,0,0,.3)
  outline none
