$borderWidth = 1px
$borderColor = #bbb
$borderRadius = 4px
$progressBarColor = #e1e1e1
$tileH = 148px
$tileW = 268px

.trash-tile
  border-radius $borderRadius
  cursor pointer
  float left
  height $tileH
  width $tileW
  list-style none
  margin 16px 16px 32px
  position relative

  &:hover
    background-clip padding-box
    box-shadow 0 0 10px 1px rgba(255,255,255,.6) // outer glow

    .install-overlay
      display block

    &:before, &:after
      background -webkit-linear-gradient(top,  #ebebeb 0%,#a1a1a1 91%,#7d7d7d 100%) /* Chrome10+,Safari5.1+ */
      background linear-gradient(to bottom,  #ebebeb 0%,#a1a1a1 91%,#7d7d7d 100%) /* W3C */
      background-clip padding-box
      border-radius $borderRadius+1
      content ""
      display block
      height $tileH+2
      left -1px
      position absolute
      top -1px
      width $tileW+2
      z-index -1
    &:after
      background -webkit-linear-gradient(top, #dcdcdc 0%, #a7a7a7 100%) /* Chrome10+,Safari5.1+ */
      background linear-gradient(to bottom, #dcdcdc 0%, #a7a7a7 100%) /* W3C */
      border-radius 7px
      height $tileH+6
      left -3px
      top -3px
      width $tileW+6
      z-index -2

    h3
      color #fff

  .name-outer
    float right
    right 50%
    position relative
    margin-top 3px

  .name-inner
    float right
    right -50%
    position relative

  h3
    color #b2b2b2
    font-size 21px
    -webkit-user-drag none
    float left
    margin 0
    text-align center

  .icon
    position: absolute;
    width 96px
    height 96px
    left 111px
    top 39px
    display block
    border-radius 10px
    -webkit-user-drag none

  img.tile-bg
    border-radius $borderRadius
    width 100%
    height 100%
    overflow hidden
    -webkit-user-drag none

  .install-overlay
    background -webkit-linear-gradient(top, #272c31 0%, #141719 100%)
    border 1px solid #424242
    border-radius 18px
    box-shadow 0 0 10px rgba(0, 0, 0, 0.5)
    color white
    display none
    height 36px
    font-size 21px
    left 15%
    line-height 34px
    margin-top -17px
    position absolute
    right 15%
    text-align center
    top 50%
    width auto

  .dot
    background -webkit-linear-gradient(top, #c5e171 0%, #bee267 50%, #95bf48 100%)
    border 1px solid #161719
    border-radius 8px
    background-clip padding-box
    box-shadow 0 0 10px rgba(154,201,72,1)
    content ""
    display none
    left -26px
    float left
    height 14px
    margin-top 6px
    margin-right 12px
    width 14px

vendors = webkit
@keyframes pulse
  0%
    -webkit-transform scale(1.0)
  100%
    opacity: 0
    -webkit-transform scale(8.0)

