li.tile(draggable="true")
  img.tile-bg(src="#{ tilePath }")
  img.icon(src="#{ iconPath }")
  .name-outer
    .name-inner
      .dot
      h3.name #{ name }
      .message
        h3.waiting Waiting...
        h3.connecting Connecting...
        h3.downloading Downloading...
        h3.installing Installing...
        h3.launching Opening...
  .install-overlay Click to Install
  .cancel
    .x &times;
  .progress
    .bar
