li.tile(draggable="true")
  img.tile-bg(src="#{ tilePath }")
  img.icon(src="#{ iconPath }")
  .name-outer
    .name-inner
      .dot
      h3.name #{ name }
      .message
        h3.waiting
        h3.connecting
        h3.downloading
        h3.installing
        h3.launching
  .install-overlay
  .cancel
  .progress
    .bar
