li.tile(draggable="true")
  img.tile-bg(src="#{ tilePath }")
  img.icon(src="#{ iconPath }")
  div.name-outer
    div.name-inner
      div.dot
      h3.name #{ name }
      h3.message Installing...
  div.progress
    div.bar