@import "../modal/modal"

.download-modal .modal-wrapper

  .modal

    .header

      .icon
        float left
        height 96px
        width 96px

      h1.name
        float left
        margin-left 56px

    .content

      table.details
        font-weight bold

        tr
          padding 10px 0

          td.label
            color #666
            font-size 21px
            width 150px
            vertical-align top
          td.value
            font-size 18px
            vertical-align bottom
            padding 4px 0

            *
              margin 0

            h1, h2, h3, h4, h5, h6
              font-size 1em

            ol, ul
              margin-left -1em

            a
              color #6cbaeb

    .footer

      .button

        &.launch
          float right
          background-image: -webkit-linear-gradient(top, rgba(207, 211, 214, 0.32) 0%, rgba(131, 134, 138, 0.23) 100%);
          background-image linear-gradient(top, rgba(207, 211, 214, 0.32) 0%, rgba(131, 134, 138, 0.23) 100%);
          padding-left 40px
          padding-right 40px
          margin-right 10px

        &.confirm
          background-clip padding-box
          background -webkit-linear-gradient(top, #a2d16e 0%, #82b544 50%, #71a859 100%)
          background linear-gradient(top, #a2d16e 0%, #82b544 50%, #71a859 100%)
          float right

          &.upgrade
            background-color #60aee5 /* layer fill content */
            background-image -webkit-linear-gradient(bottom, #478cc4 0%, #6cbaeb 100%) /* gradient overlay */
            background-image linear-gradient(bottom, #478cc4 0%, #6cbaeb 100%) /* gradient overlay */
            -webkit-box-shadow inset 0 2px 9px rgba(67,131,181,.45) /* inner shadow */
            box-shadow inset 0 2px 9px rgba(67,131,181,.45) /* inner shadow */
